# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Poetry
poetry.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ruff
.ruff_cache/

# Testing
.pytest_cache/
.coverage
htmlcov/
